Ignore coverage .gitignore

#node modules take up alot of space after npm install
#build related
node_modules
/build
/dist
*.map

#logs
logs
*.log
npm-debug.log*

# Mac related commits
.DS_Store
.AppleDouble
.LSOverride
Icon
#linux related commits
*~

#sensitive code
.settings/
.vscode/

# Test coverage
coverage/

#Miscellaneous
package-lock.json
